* {
    font-family: monospace;
    font-size: 11pt;
}

/* All buttons */
button {
    border: none;
}

#header {
    background-color: salmon;
    padding: 10%;
    text-align: center;
}

/* Title */
#header h1 {
    color: white;
    letter-spacing: 3px;
}

/* Input text field - new item */
#itemInput {
    width: 80%;
    height: 20px;
    border: none;
    float: left;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 2%;
}

/* Add Button - add new list item */
#addBtn {
    height: 20px;
    background-color: lightgray;
    float: left;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 5%;
    padding-right: 5%;
}

#addBtn:hover {
    background-color: gray;
}




ul {
    padding: 5%;
    padding-left: 10%;
    padding-right: 15%;
    /* background-color: whitesmoke; */
}

li {
    margin: 1%;
    padding: 1%;
    padding-left: 5%;
    list-style-type: none; /* remove bullet points*/
    background-color: salmon;
    border-radius: 10px;
}

li:hover {
    background-color: dimgray;
}

/* Alternate rows of list items */
li:nth-child(even) {
    background-color: lightgray;
}

li:nth-child(even):hover {
    background-color: dimgray;
}




.done {
    text-decoration: line-through;
    background-color: dimgray;
}

.done:nth-child(even) {
    text-decoration: line-through;
    background-color: dimgray;
}





/* Remove list item buttons */
#removeBtn {
    float: right;
    margin-right: 5%;
    background-color: transparent;
    border-radius: 15px;
    color: white;
}

#removeBtn:hover {
    background-color: white;
    color: salmon;
}

/* Clear All button */
#clearBtn {
    background-color: gray;
    color: white;
    border-radius: 10px;
    padding: 0.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    /* float: right; */
}

#clearBtn:hover {
    background-color: maroon;
    color: white;
}

#clearBtnContainer {
    text-align: center;
}

/* Checkbox */
/* input[type=checkbox] {
    visibility: hidden;
} */