* {
    font-family: monospace;
    font-size: 11pt;
}

/* All buttons */
button {
    border: none;
    transition: 0.5s;
}

#header {
    background-color: salmon;
    padding: 10%;
    text-align: center;
    box-shadow: 5px 5px 10px gray;
}

/* Title */
#header h1 {
    color: white;
    letter-spacing: 3px;
    padding-bottom: 2%;
}

/* Input text field - new item */
#itemInput {
    width: 85%;
    height: 20px;
    border: none;
    float: left;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 2%;
}

/* Add Button - add new list item */
#addBtn {
    width: 15%;
    height: 20px;
    background-color: lightgray;
    float: left;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 5%;
    padding-right: 5%;
}

#addBtn:hover {
    background-color: gray;
    transition: 0.5s;
}




ul {
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
    /* background-color: whitesmoke; */
}

li {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    padding-left: 5%;
    list-style-type: none; /* remove bullet points*/
    background-color: salmon;
    border-radius: 10px;
    box-shadow: 3px 3px 10px gray;
    animation: fadein 1s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

li:hover {
    background-color: indianred;
    transition: 1s;
}

/* Alternate rows of list items */
li:nth-child(even) {
    background-color: lightgray;
}

li:nth-child(even):hover {
    background-color: darkgray;
    transition: 1s;
}

#itemName {
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    /* overflow: scroll; */
}




.done, .done:nth-child(even) {
    color: white;
    text-decoration: line-through;
    /* background-color: dimgray; */
    opacity: 0.3;
}





/* Remove list item buttons */
#removeBtn {
    float: right;
    margin-right: 3%;
    background-color: transparent;
    border-radius: 15px;
    color: white;
}

#removeBtn:hover {
    background-color: white;
    color: indianred;
}

/* Clear All button */
#clearBtn {
    background-color: gray;
    color: white;
    border-radius: 15px;
    padding: 0.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    float: right;
    margin-right: 10%;
}

#clearBtn:hover {
    background-color: maroon;
    color: white;
    transition: 0.5s;
}

#allBtnContainer {
    text-align: center;
    /* margin-top: 2%; */
    margin-bottom: 8%;
}

.hide {
    visibility: hidden;
}

#scrollTopBtn {
    background-color: salmon;
    color: white;
    border-radius: 15px;
    padding: 1.5%;
    float: right;
    margin-right: 0%;
    margin-bottom: 5%;
}

#scrollTopBtn:hover {
    background-color: indianred;
}

/* Checkbox */
input[type=checkbox] {
    /* visibility: hidden; */
    font-size: 20px;
}